.about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;    
    height: 91.6vh;
    color: #edebd7;
}

.about-p {
    width: 96%;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2%;
    text-align: center;
}

.about h2 {
    font-size: 20px;
}

.icons-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 12px;
    padding-left: 0;
}

.icons-container li {
    padding: 5%;
}

.tools-container {
    display: flex;
    
}

.tools-div {
    padding: 0 5% 0;
}



@media (min-width: 768px) {

    .about-p {
        font-size: 18px;
    }

    .about h2 {
        font-size: 24px;
    }

    .icons-container {
        font-size: 18px;
    }

}

@media (min-width: 1440px) {

    .about-p {
        font-size: 26px;
    }

    .about h2 {
        font-size: 30px;
    }

    .icons-container {
        font-size: 30px;
    }

    .tools-div {
        padding: 0 50px 0;
    }
}
