.about-contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--wheat);
    position: relative;
    z-index: 90;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10% 0 30% 0;
}

.about-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 95%;
}

.about-p {
    width: 90%;
    font-size: 14px;
    box-shadow: 10px 0 25px 0 black;
    line-height: 1.5;
    padding: 2%;
    border-bottom: 1px solid var(--wheat);
    border-radius: 10px 10px 0 0;
}

.about-phrase {
    color: var(--green);
}


@media (min-width: 768px) {

    .about-contact-container {
        padding: 15% 0 15% 0;
    }

    .about-p {
        font-size: 18px;
        text-align: center;
        width: 70%;
    }

}


@media (min-width: 1440px) {

    .about-contact-container {
        padding: 0;
        justify-content: center;
        height: 100vh;
        box-shadow: 0px -15px 15px 0px black;
    }

    .about-contact {
        flex-direction: row;
        justify-content: center;
        width: 60%;
        box-shadow: 15px 15px 15px 0px black;
        max-height: 500px;
    }

    .about-p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.5;
        padding: 2%;
        box-shadow: none;
        border-bottom: none;
        border-radius: 10px 0 0 10px;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 20px;
        line-height: 1.4;
        width: 40%;
        height: 425px;
    }

}
