* {
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
}

body::-webkit-scrollbar {
    width: 0em;
}

a {
    all: unset;
}

body {
    background: linear-gradient(to bottom, rgb(26, 33, 41), rgba(15,18,40,1));
}

