* {
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
}

body::-webkit-scrollbar {
    width: 0em;
}

a {
    all: unset;
}

body {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
}

