.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 91.6vh;
    position: relative;
    z-index: 90;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: fit-content;
    padding: 2%;
    border-radius: 10px;
    color: #edebd7;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 10px 0 black;
}

.legend {
    font-size: 18px;
}

.contact-label span {
    color: rgb(167, 0, 0);
    padding-left: 5px;
}

.contact-input {
    all: unset;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin: 2px 0 15px 0;
    border-bottom: 2px solid #edebd7;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #edebd7;
}

.contact-input:hover {
    border-bottom: 2px solid #a2ac6e;
}

.contact-input:focus {
    border-bottom: 2px solid #a2ac6e;
}

.contact-label {
    align-self: flex-start;
}

.btn-contact {
    all: unset;
    border-radius: 5px;
    padding: 10px;
    color: black;
    background-color: #edebd7;
}

.btn-contact:hover {
    cursor: pointer;
    background-color: #a2ac6e;
}

.btn-contact-err {
    all: unset;
    border-radius: 5px;
    padding: 10px;
    color: gray;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: not-allowed;
}

#mailto {
    opacity: 0;
}

@media (min-width: 768px) {

    .legend {
        font-size: 20px;
    }

    .contact-input {
        font-size: 18px;
    }
}

@media (min-width: 1020px) {
    .contact-form {
        width: 50%;
    }
}