.works-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25% 0 15% 0;
}

.work-container {
    margin: 2% 0;
    position: relative;
    z-index: 90;
    cursor: pointer;
}

.work-container .work-img{
    width: 300px;
    border: 2px solid var(--green);
}

.work-description {
    display: none;
}

.work-title {
    color:var(--wheat);
}

@media (min-width:425px) {
    .work-container .work-img{
        width: 360px;
    }
}

@media (min-width: 768px) {

    .work-container .work-img{
        width: 700px;
        box-shadow: 10px 10px 10px 0 rgb(0, 0, 0);
    }
}

@media (min-width: 1020px) {

    .works-container {
        padding: 10% 0 15%;
    }

    .work-container .work-img{
        width: 700px;
    }

    .work-detail {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0%, -50%);
        width: 0px;
        max-width: 1px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        transition: all 1.5s cubic-bezier(0.075, 0.82, 0.8, 1);
        user-select: none;
        color: var(--wheat);
    }

    .work-title, .work-description {
        opacity: 0;
        transition: all 1.5s cubic-bezier(0.075, 0.82, 0.8, 1);
        position: absolute;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
    }

    .work-title {
        display: none;
        overflow: hidden; 
        font-size: 26px;
        animation-name: transition-title;
    }

    .work-description {   
        overflow: hidden; 
        font-size: 18px;
        animation-name: transition-detail;
    }
    
    .work-detail:hover .work-title {
        display: block;
        opacity: 1;
    }

    .work-detail:hover .work-description {
        display: block;
        opacity: 1;
    }

   .work-container:hover .work-detail{
        width: 100%;
        max-width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }

}

@media (min-width: 1440px) {

    .works-container {
        padding: 5% 0 5%;
    }

    .work-container .work-img{
        width: 1036px;
    }

    .work-title {
        font-size: 38px;
    }

    .work-description {
        font-size: 26px;
    }

    .img-r {
        margin-right: 150px;
    }
    
    .img-l {
        margin-left: 150px;
    }

}

@keyframes transition-title {
    0% { top: 20%; left: 2%; }
     100% { top: 30%; left: 2%; }
 }

@keyframes transition-detail {
   0% { top: 60%; left: 2%; }
    100% { top: 45%; left: 2%;}
}
