.cover-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(26, 33, 41);
    background-image: url("../img/laptop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*Background video */

// .video {
//     object-fit: cover;
//     width: 100%;
//     height: 100vh;
//     position: fixed;
//     z-index: -100;
// }

.content {
    margin-left: 5%;
}

.name {
    font-size: 30px;
}

.title {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 29ch;
    color: rgb(0, 17, 36);
    font-size: 14px;

    animation: typing 2s steps(29), 
    blink .5s infinite step-end alternate;
    overflow: hidden;
}

.links-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.links-container i {
    color: rgb(0, 17, 36);
    font-size: 30px;
    padding: 5px 0;
}

.links-container i:hover {
    color: #a2ac6e;
}

.fa-arrow-down {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 24px;
    padding-bottom: 10px;
    z-index: 20;
}

.fa-arrow-down:hover {
    color: #a2ac6e;
    padding-bottom: 20px;
}

@media (min-width: 720px) {

    .cover-container::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top,  rgb(26, 33, 41), transparent);
        z-index: 10;
    }

    .content {
        margin-left: 20%;
    }

    .name {
        font-size: 30px;
    }
    
    .title {
        font-size: 18px;
    }

    .links-container i {
        color: #edebd7;
    }
}

@media (min-width: 1024px) {

    .cover-container {
        height: 100vh;
    }

    .title {
        font-size: 20px;
    }
} 


@media (min-width: 1920px) {

    .name {
        font-size: 46px;
    }
    
    .title {
        font-size: 30px;
    }

    .links-container i {
        font-size: 45px;
    }
}


@keyframes typing {
    from { width: 0; }
} 

@keyframes blink {
    50% { border-color: transparent; }
}


