.cover-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--blue);
    background: linear-gradient(to bottom, #d2f08c85 0%, #53a5b481 100%);
}


.content {
    margin-left: 5%;
    position: relative;
    z-index: 90;
}

.name {
    font-size: 30px;
}

.title {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 29ch;
    color: var(--blue);
    font-size: 14px;
    background-color: rgba(250, 250, 250, 0.5 );

    animation: typing 2s steps(29), 
    blink .5s infinite step-end alternate;
    overflow: hidden;
}

.links-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    margin-right: 20px;
    z-index: 100;
}

.links-container i {
    color: var(--blue);
    font-size: 30px;
    padding: 5px 0;
}

.links-container i:hover {
    color: var(--green);
}

// .fa-arrow-down {
//     position: absolute;
//     bottom: 0;
//     left: 50%;
//     font-size: 24px;
//     padding-bottom: 10px;
//     z-index: 20;
//     animation: arrow infinite 2s 0 0 up fill-mode;
// }

// .fa-arrow-down:hover {
//     color: var(--green);
//     padding-bottom: 20px;
// }

.content-arrow {
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translate(-50%, -50%);
    z-index: 90;
}

.arrow-text {
    position: absolute;
    bottom: 100%;
    margin-bottom: 10px;
    color: var(--blue);
    font-size: 16px;
}
  
  /* Arrow & Hover Animation */
#more-arrows {
    width: 75px;
    height: 65px;
    cursor: pointer;
    &:hover {
      polygon {
        fill:  var(--light-green);
        transition: all .2s ease-out;
        &.arrow-bottom {
          transform: translateY(-18px);
        }
        &.arrow-top {
          transform: translateY(18px);
        }
      }
    }
}
  
polygon {
    fill: var(--blue);
    transition: all .2s ease-out;
    &.arrow-middle {
        opacity: 0.75;
      }
      &.arrow-top {
        opacity: 0.5
      }
}

@media (min-width: 720px) {

    .content {
        margin-left: 20%;
    }

    .title {
        font-size: 18px;
    }

    .links-container i {
        color: var(--wheat);
    }
}

@media (min-width: 1024px) {

    .cover-container::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        background: linear-gradient(to top,  rgba(0, 0, 0, 0.2), transparent);
        z-index: 10;
    }
    
    .title {
        font-size: 20px;
    }

    .arrow-text {
        font-size: 22px;
        left: -10px;
    }
} 


@media (min-width: 1920px) {

    .name {
        font-size: 56px;
    }
    
    .title {
        font-size: 30px;
    }

    .links-container i {
        font-size: 45px;
    }
}


@keyframes typing {
    from { width: 0; }
} 

@keyframes blink {
    50% { border-color: transparent; }
}

@keyframes arrow {
    from { bottom: 0 ;}
    to {bottom: 10;}
}


