.footer {
    display: flex;
    flex-direction: column;
    background-color: rgba(1, 1, 1, 0.3);
    color: #edebd7;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-a , .footer-gm {
    font-size: 20px;
    padding: 1%;
}

.footer-a:hover  {
    color: #a2ac6e;
    cursor: pointer;
}

.footer h6 {
    text-align: center;
    padding-bottom: 5px;
}


@media (min-width: 768px) {
    .footer-links {
        flex-direction: row;
        justify-content: center;
    }
    
}
