.container-proyects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2% 1% 5%;
    color: var(--wheat);
    box-shadow: 0 -15px 30px 0 rgba(0, 0, 0, 7);
}

.container-proyect-video {
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.proyect-title {
    text-align: center;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 0 0;
    padding: 4px;
    font-family: Roboto, sans-serif;
}

.proyect-video {
    width: 320px;
    border: 2px solid white;
}

.container-proyect-video-links {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.proyect-video-link {
    font-size: 14px;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.2);
}

.proyect-video-link.link-git {
    color: var(--wheat);
    border: 2px solid wheat ;
}   

.proyect-video-link.link-web {
    color: var(--green);
    border: 2px solid var(--green);
}   

.proyect-video-link:hover {
    background-color: var(--light-green);
    color: var(--blue);
}


@media (min-width: 768px) {

    .proyect-video {
        width: 550px;
    }

    .proyect-video-link {
        font-size: 16px;
    }
}

